# Pandas 

Pandas is a fast, powerful and easy to use open source data analysis and manipulation tool, built on top of Python progrmaming language.

In [2]:
import pandas as pd

# Series

Series is a one-dimensional labeled array capabale of holding any data type(integers, strings floatin point numbers, Py objects, etc.). The axis labels are collectively refered to as a index.

In [3]:
fruits = pd.Series(['apple', 'pear', 'mellon', 'kiwi'])
fruits

0     apple
1      pear
2    mellon
3      kiwi
dtype: object

In [4]:
fruits.apply(str.upper)

0     APPLE
1      PEAR
2    MELLON
3      KIWI
dtype: object

In [7]:
numbers = pd.Series([5, 9, 3])
numbers * 3 + 2

0    17
1    29
2    11
dtype: int64

In [14]:
mask = numbers >= 5
mask
type(mask)

numbers[mask]

0    5
1    9
dtype: int64

In [15]:
numbers[pd.Series([True, True, False])]

0    5
1    9
dtype: int64

# DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet, or a dict of Series objects. It is generally the most commonly used pandas object.

In [16]:
# Create a dictionary with key, values 
data = {
    'Name' : ['Anders', 'Felix', 'Lorena'],
    'Age' : [34, 38, 7]
}

# Create an instance of type dataframe
df = pd.DataFrame(data)
df

     Name  Age
0  Anders   34
1   Felix   38
2  Lorena    7

In [21]:
# Create a list of dict
data = [
    {'Name': 'Anders', 'Age': 44},
    {'Name': 'Felix', 'Age': 33},
    {'Name': 'Lorena', 'Age': 7}
]

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   44
1   Felix   33
2  Lorena    7

In [22]:
# Access Name column in a dataframe

df['Name']

0    Anders
1     Felix
2    Lorena
Name: Name, dtype: object

In [23]:
#Access age column in a dataframe
df['Age']

0    44
1    33
2     7
Name: Age, dtype: int64

In [25]:
#Create a boolean mask over the age
df[df['Age'] >= 10]

     Name  Age
0  Anders   44
1   Felix   33

In [26]:
# Transform a dataframe into a string 
str(df)

'     Name  Age\n0  Anders   44\n1   Felix   33\n2  Lorena    7'

In [28]:
# print a dataframe to the console
type(df)

print(df)

     Name  Age
0  Anders   44
1   Felix   33
2  Lorena    7